<nav
    ng-include="'partials/navigation.html'" class="navigation">
</nav>

<div class="wrapper">
    <h1 class="about-title">About</h1>
    <section class="about-text">
    <p>Welcome to our first group app! It was created by James Bennett, Ashley Brickhouse, and Justin Warren. You can learn more about us below.</p><br>

    <p>As our Unit 3 group project, we decided to create an app that we thought would be useful. Fit.js is a fitness tracker app that provides a place for you to create and store workouts. Our goal was to build an intuitive app that is simple to use and functional. <br>
    <br>
    Some additions we would like to make include: <br>
    <br>
    -<strong>Relational Databases:</strong> This improvement would allow the user to save their workouts to their individual username by incorporating a Users model that would store information based on the workouts created by that user. We would also like to create the ability for a user to create more detailed workouts by adding an Exercises model. <br>
    <br>
    -<strong>Carousel:</strong> We thought that a carousel would also be a great feature in order to scroll through the workout videos on the Videos page or on the welcome page when the user logs in (for inspiration).<br>
    <br>
    -<strong>Modal:</strong> A modal would make creating more detailed workouts a lot cleaner. The difference would be that when a user clicks on the New Workout tab and creates a workout with a title and duration, they would then see a modal pop up that would give them the ability to enter sets, reps and rest time for each individual exercise.<br>
    <br>
    Ultimately, our priority for this project was to gain experience working with Git and navigating our way through working in a group to conceptualize, organize, and deliver the results of the collaboration.
    </p>
    </section>
    <div class="about-us">
      <!-- This is a card -->
        <div class="person">
          <p>James Bennett</p>
          <div class="social">
            <a href="https://www.linkedin.com/in/jamesbennett384/"><i class="fab fa-linkedin"></i></a>
            <a href="https://git.generalassemb.ly/Bennett384"><i class="fab fa-github-square"></i></a>
          </div>
        </div>
        <!-- This is a card -->
        <div class="person">
          <p>Ashley Brickhouse</p>
          <div class="social">
            <a href="https://www.linkedin.com/in/ashley-brickhouse/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/ashbrick"><i class="fab fa-github-square"></i></a>
          </div>
        </div>
        <!-- This is a card -->
        <div class="person">
          <div class="social">
            <p>Justin Warren</p>
            <a href="https://www.linkedin.com/in/justinwarren2/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/JustinWarren"><i class="fab fa-github-square"></i></a>
          </div>
        </div>
    </div>
  </div>
