<nav
    ng-include="'partials/navigation.html'" class="navigation">
</nav>

<div class="wrapper">
    <h1 class="about-title">About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <div class="about-us">
      <!-- This is a card -->
        <div class="person">
          <p>James Bennett</p>
          <div class="social">
            <a href="https://www.linkedin.com/in/jamesbennett384/"><i class="fab fa-linkedin"></i></a>
            <a href="https://git.generalassemb.ly/Bennett384"><i class="fab fa-github-square"></i></a>
          </div>
        </div>
        <!-- This is a card -->
        <div class="person">
          <p>Ashley Brickhouse</p>
          <div class="social">
            <a href="https://www.linkedin.com/in/ashley-brickhouse/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/ashbrick"><i class="fab fa-github-square"></i></a>
          </div>
        </div>
        <!-- This is a card -->
        <div class="person">
          <div class="social">
            <p>Justin Warren</p>
            <a href="https://www.linkedin.com/in/justinwarren2/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/JustinWarren"><i class="fab fa-github-square"></i></a>
          </div>
        </div>
    </div>
  </div>
