<!-- after doing the includePath for partials, come to the nav file and add an ng-click so you can use angular to load the paths -->

<button class="menu-buttons" type="submit" name="create">
<h5 ng-click="ctrl.changeInclude('create')">New Workout</h5>
</button>

<button class="menu-buttons" type="submit" name="about">
<h5 ng-click="ctrl.changeInclude('about')">About</h5>
</button>

<button class="menu-buttons" type="submit" name="videospage">
<h5 ng-click="ctrl.changeInclude('videospage')">Videos</h5>
</button>

<button class="menu-buttons" type="submit" name="logout">
<h5 ng-click="ctrl.logout()">Logout</h5>
</button>
